

h1 {
  padding: 0 1rem;
}

h2 {padding: 1rem;}



mat-sidenav-container {
  height:93%;
}


.example-spacer {
  flex: 1 1 auto;
}

.sidenav-container {
  height: 100vh;
}

.content {
  padding: 1rem;
}

.spacer {
  flex: 1 1 auto;
}
