
<mat-toolbar color="primary">
  <button mat-icon-button aria-label="Menu icon" (click)="toggleSidebar()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Some header name</h1>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon" (click)="signOut()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
<div style="width: 100%; height: 100%;">
  <mat-sidenav-container autosize>
    <mat-sidenav [opened]="isSidebarOpen ? 'false' : 'true'">
      <mat-nav-list>
        <a mat-list-item (click)="goTo('')">
        <span class="entry">
          <mat-icon>house</mat-icon>
          <span>Home</span>
        </span>
        </a>
        <a mat-list-item (click)="goTo('dashboard')">
        <span class="entry" >
          <mat-icon>dashboard</mat-icon>
          <span>Dashboard</span>
        </span>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>
